* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Estrutura Geral */

:root {
    --sombra: 0 2px 2px;
    --destaque: #a1a1a1;
    --cor-header: #cfcfcf;
    --cor-main: #e6e6e6;
    --cor-fundo: #f1f1f1;
    --cor-azul: #31a0d9;
    --cor-verde: #479f52;
    --cor-laranja: #f47b26;
    --cor-vermelho: #fb2828;
    --cor-amarelo: #f0d830;
}

body {
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
    flex: 1 1 100vw; /*Primeiro:Grow Segundo:Shrink  Terceiro:Basis*/
    overflow: hidden;
}

header, nav, main, aside {
    display: flex;
    margin: 3px;
    background: #a1a1a1;
}

header {
    flex: 1 1 100vw;
    height: 100px;
    border-radius: 0 0 15px 15px;
}

header #logo {
    flex: 0 1 200px;
    background: var(--cor-header);
    border-radius: 0 0 0 15px;
}

#openMenu, #closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display: none;
}

nav {
    flex: 1 1 100vw;
    align-items: center;
    justify-content: flex-end;
}

nav a {
    margin: 3%;
    text-decoration: none;
    color: #000;
    font-size: 20pt;
}

#h1-home {
    margin-left: 350px;
}

aside {
    flex: 1 1 200px;
}

footer {
    flex: 1 1 100vw;
    height: 100px;
    text-align: center;
    margin: 15px 15px;
}

footer p {
    font-size: 16px;
    padding: 15px 15px;
    border-top: 3px solid var(--destaque);
}

/* Index */

main {
    flex: 20 1 500px;
    height: calc(100vh - 224px); /*Subtração da altura vertical header, footer e margins*/
    flex-wrap: wrap;
    overflow: auto; /*Manter o conteúdo*/
}

main .containerImage {
    width: 100%;
    height: 2000px;
    margin: 10px;
    background:  linear-gradient(#9b9b9b, #5b5b5b, #1c1c1c );
}

.img-display {
    display: none;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

.imgFull {
    position: absolute;
    width: 65%;
    height: 42vh;
    margin: 2px 10px 0 220px;
}

.img-display[data-active="true"]{
    display: block;
    width: 500px;
    height: 250px;
    margin-left: 85px;
    border-radius: 25px;
    box-shadow: 2px 3px 3px var(--cor-verde,0.3);
}

.imgFull .indicators{
    display: flex;
    gap: 8px;
    margin: 2px 10px 0 260px;
    z-index: 5;
    position: relative;
    transform: translatey(-15px);
}

.indicator {
    position: relative;
    align-items: center;
    width: 45px;
    height: 5px;
    background-color: var(--destaque);
    border-radius: 15px;
}

.indicator[data-active="true"] {
    background-color: var(--cor-azul);
}

.figures{
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
    transform: translateX(-170px);
}

.figure {
    display: flex;
    flex-direction: row;
    position: relative; 
    width: 125px; 
    height: 125px; 
    border-radius: 8px;
    justify-content: space-between;
    margin-top: 0px;
}

.previous-button, .next-button {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    background: transparent;
    border: 0;
}

.previous-button:hover, 
.next-button:hover {
    background-color: rgba(67, 69, 70, 0.8);
    border-radius: 60%;
}

.previous-button {
    left: 45px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.next-button {
    left: 590px;
}

#iconDark{
    display: none;
    width: 40px;
    height: 40px;
}

@media (max-width: 717px) {
    header {
        order: 0;
    }

    main {
        order: 1;
    }

    aside {
        order: 2;
    }
    
    footer {
        order: 3;
    }

    #openMenu, #closeMenu {
        display: block;
    }

    #openMenu {
        margin-left: auto;
    }

    #closeMenu {
        position: fixed;
        right: 15px;
        top: 15px;
    }

    nav {
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.8);
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: 0.3s;
    }
}

