:root {
  --page-background: #fff;
  --page-title: #000;
  --page-text: #000;
  --page-arrow:#f3f3f3;
  --sombra: 0 2px 2px;
  --destaque: #a1a1a1;
  --cor-header: #cfcfcf;
  --cor-main: #e6e6e6;
  --cor-fundo: #f1f1f1;
  --cor-azul: #31a0d9;
  --cor-verde: #479f52;
  --cor-laranja: #f47b26;
  --cor-vermelho: #fb2828;
  --cor-amarelo: #f0d830;
}

body {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    flex: 1 1 100vw;
    background: var(--page-background);
    color: var(--page-text);
}

header, nav, main, aside {
    display: flex;
    margin: 3px;
}

header {
    flex: 1 1 100vw;
    height: 100px;
    border-radius: 0 0 15px 15px;
}

header #logo {
    flex: 0 1 200px;
    background: var(--cor-fundo);
    border-radius: 0 0 0 15px;
}

#openMenu, #closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display: none;
}

nav {
    flex: 1 1 100vw;
    align-items: center;
    justify-content: flex-end;    
}

nav a {
    margin: 3%;
    text-decoration: none;
    color: var(--page-text);
    font-size: 20pt;
}

main {
    flex: 20 1 500px;
    height: calc(100vh - 224px);
    flex-wrap: wrap;
    overflow: auto; 
    font-size: large;
}

main section {
    width: 100%;
    height: auto;
    margin: 10px;
}

aside {
    display: flex;
    flex-direction: column;
    flex: 1 1 200px;
}

aside a {
    height: 30px;
    margin: 5px auto 0 10px;
    text-decoration: none;
    color: var(--page-text);
    justify-content: space-between;
    text-align: justify;
    font-weight: bold;
}

.imgAside {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgFull {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: var(--page-background)
}

.img-display {
    display: none;
}

.img-display[data-active="true"]{
    position: absolute;
    display: flex;
    max-width: 80px;
    max-height: 80px;
    border-radius: 20%;
}

.previous-button, .next-button {
    width: 36px;
    height: 36px;
    font-size: 25px;
    font-weight: bold;
    color: var(--page-arrow);
    background: transparent;
    border: 0;
}

.previous-button {
    position: relative;
    top: 50%;
    margin-left: 20px;
}

.next-button {
    position: relative;
    top: -10px;
    margin-left: 180px;
}

.previous-button:hover, 
.next-button:hover {
    background-color: rgba(0,0,0 ,0.4);
}

h1 {
  color: var(--page-title);
}

main [data-active="true"] {
    display: flex;
}

.desenvolvedores {
    margin: 10px 0 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    gap: 20px; 
    align-items: center;
    text-align: justify;
}

.dev {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 48%;
    background-color:var(--page-background);
    border-radius: 25px;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
    margin-top: 30px;
}

.sobre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1;
    margin: 5px;
    margin-bottom: 10px;
  
}

.imgPerfil {
    width: 150px;
    height: 150px;
    margin-top: 5px;
    border-radius: 50%;
    background-color: blue;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.4);
}

#nome {
    margin: 100px 0 0 15px;
}

.txtSobre {
    flex-grow: 2;
    margin: 0;
}

.txtSobre h3, #project h3 {
    margin: 10px 0 0 20px;
}

.social {
    display: flex;
    flex-grow: 3;
    justify-content: right;
    width: 40px;
    height: 40px; 
}

.social a {
    margin: 10px 5px 0 5px;
}

#project {
    text-align: justify;
    margin: 5px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1 1 100vw;
    height: 10vh;
    align-items: center;
    justify-content: center;
    margin: 15px 15px;
}

footer p {
    border-top: solid 2px var(--destaque);
    font-size: 16px;
    padding: 15px 15px;
}

@media (max-width: 768px){
    .dev {
        flex-basis: 98%;
    }

    .imgPerfil {
        display: flex;
        justify-content: center;
    }

    #nome {
        order: 0;
        margin-top: 10px;
    }

    .social {
        order:1;
        margin: 0 10px 15px 0;
    }

    .previous-button {
    position: relative;
    top: 50%;
    margin-left: 80px;
}

 .img-display {
        position: relative;
        top: 820px;
        height: 50px;
    }

.next-button {
    position: relative;
    top: -10px;
    margin-left: 250px;
}
  header {
        order: 0;
    }

    main {
        order: 1;
    }

    aside {
        order: 2;
    }
    
    footer {
        order: 3;
    }

    #openMenu, #closeMenu {
        display: block;
    }

    #openMenu {
        margin-left: auto;
    }

    #closeMenu {
        position: fixed;
        right: 15px;
        top: 15px;
    }

    nav {
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.8);
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: 0.3s;
    }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --page-background: #030000;
    --page-title: #f0d830;
    --page-text: #e9d970;
    --image-grayscale: 30%;
    --image-opacity:100%;
}

header {
    box-shadow: var(--sombra);
}

nav a {
    color: var(--page-title);
}
img,
video {
  filter: grayscale(var(--image-grayscale)) opacity(var(--image-opacity));
}
}
