/* Cores: */

:root {
    --blue: #31A0D9;
    --green: #479F52;
    --yellow: #e1cc2d;
    --orange: #F47B26;
    --red: #FB2828;
    --firefly: #0B232F;
}

/* Fundos: */

body[data-page="index"] {
    background-image: url("/midia/img/index/fundoindex.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body[data-page="azul"] {
    background-image: url("/midia/img/abril/azul/fundoblue.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body[data-page="gren"] {
    background-image: url("/midia/img/abril/verde/fundogreen.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body[data-page="yellow"] {
    background-image: url("/midia/img/maio/fundoyellow.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body[data-page="orange"] {
    background-image: url("/midia/img/junho/laranja/fundoorange.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body[data-page="red"] {
    background-image: url("/midia/img/junho/vermelho/fundored.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (max-width: 768px) {
    body[data-page="index"],
    body[data-page="azul"],
    body[data-page="gren"],
    body[data-page="yellow"],
    body[data-page="orange"],
    body[data-page="red"] {
        background-size: cover;
    }
}

/* Index: */

.main-content {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.main-content h2 {
    font-size: 22px;
    margin-bottom: 15px;
    text-align: center;
}

#index {
    gap: 15px;
}

.introduction {
    background-color: var(--main-bg);
    height: 100%;
    margin: 45px 0;
    border-radius: 8px;
    padding: 15px;
    box-shadow: var(--shadow);
}

.index-btn {
    flex-direction: row;
}

.intro-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

#carouselExampleIndicators {
    margin: 15px auto;
    box-shadow: var(--shadow);
    width: 650px;
    height: auto;
}

.carousel-item img {
    border-radius: 8px;
}

@media (min-width: 769px) and (max-width: 1350px) {
    #index {
        flex-direction: column;
        margin-top: 35px;
    }
    
    .introduction {
        margin: 0;
    }

    #carouselExampleIndicators {
        width: 100%;
    }
}

@media (min-width: 1601px) {
    #carouselExampleIndicators {
        width: 90%;
    }

    .introduction {
        width: 100%;
        margin: 50px 0;
    }
}

@media (max-width: 768px) {
    #index {
        flex-direction: column;
        margin-top: 35px;
    }

    .introduction {
        margin: 0;
    }

    #carouselExampleIndicators {
        width: 100%;
    }
}

/* Páginas com Aside: */

.as-cont {
    display: flex;
    flex-direction: row;
}

.as-cont .aside-cont {
    width: auto;
    height: 100%;
    margin-right: 15px;
    background-color: var(--main-bg);
    border-radius: 8px;
    box-shadow: var(--shadow);
    padding: 10px;
    flex-direction: column;
    position: sticky;
    top: 90px;
    align-self: flex-start;
}

.aside-cont h2 {
    padding: 10px 0;
    border-bottom: 2px solid var(--head-bg);
    width: 50%;
    margin: 0 auto 15px auto;
}

.aside-cont img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: var(--shadow);
}

.main-aside {
    background-color: var(--main-bg);
    border-radius: 8px;
    box-shadow: var(--shadow);
    padding: 15px;
}

@media (max-width: 768px) {
    .main-content {
        max-width: 95%;
        
    }

    .main-aside {
        margin-top: 20px;
    }

    .as-cont {
        flex-direction: column;
    }

    .as-cont .aside-cont {
        position: static;
        width: 100%;
        height: auto;
        margin: 70px auto 15px auto;
    }

    .aside-cont img {
        height: auto;
        width: 100%;
    }
}

/* Aside Menu/Botões: */

.aside-cont .btn-group {
    width: 100%;
    box-shadow: var(--shadow);
}

#language-buttons-header {
    text-align: center;
    margin-top: 10px;
}

#btn-portugues-header, #btn-ingles-header {
    background-color: var(--head-bg);
    border: none;
    padding: 2.5px 23.5px;
    border-radius:5px;
    color: white;
    box-shadow: var(--shadow);
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#btn-portugues-header:hover, #btn-ingles-header:hover {
    background-color: #212121;
}

.btn-secondary {
    background-color: var(--head-bg);
    border: none;
}

.btn-secondary:hover{
    background-color: #212121;
}

.dropdown-menu {
    box-shadow: var(--shadow);
}

.dropdown-item, .dropdown-divider {
    margin: 5px 7px;
}

#btn-blue {
    transition: color, background-color 0.3s ease;
    border-radius: 8px;
    text-align: center;
}

#btn-blue:hover {
    background-color: var(--blue);
    color: white;
}

#btn-green {
    transition: color, background-color 0.3s ease;
    border-radius: 8px;
    text-align: center;
}

#btn-green:hover {
    background-color: var(--green);
    color: white;
}

#btn-yellow {
    transition: color, background-color 0.3s ease;
    border-radius: 8px;
    text-align: center;
}

#btn-yellow:hover {
    background-color: var(--yellow);
    color: white;
}

#btn-other {
    transition: color, background-color 0.3s ease;
    border-radius: 8px;
    text-align: center;
}

#btn-other:hover {
    background-color: #060606;
    color: white;
}

#link-consc {
    transition: color, background-color 0.3s ease;
    border-radius: 8px;
    text-align: center;
}

#link-consc:hover {
    background-color: #060606;
    color: white;
}

#link-impor {
    transition: color, background-color 0.3s ease;
    border-radius: 8px;
    text-align: center;
}

#link-impor:hover {
    background-color: #060606;
    color: white;
}

#link-part {
    transition: color, background-color 0.3s ease;
    border-radius: 8px;
    text-align: center;
}

#link-part:hover {
    background-color: #060606;
    color: white;
}

#link-aux {
    transition: color, background-color 0.3s ease;
    border-radius: 8px;
    text-align: center;
}

#link-aux:hover {
    background-color: #060606;
    color: white;
}

#link-proj {
    transition: color, background-color 0.3s ease;
    border-radius: 8px;
    text-align: center;
}

#link-proj:hover {
    background-color: #060606;
    color: white;
}

#btn-red {
    transition: color, background-color 0.3s ease;
    border-radius: 8px;
    text-align: center;
}

#btn-red:hover {
    background-color: var(--red);
    color: white;
}

#btn-orange {
    transition: color, background-color 0.3s ease;
    border-radius: 8px;
    text-align: center;
}

#btn-orange:hover {
    background-color: var(--orange);
    color: white;
}

.accordion {
    margin: 5px auto;
    width: 90%;
}

.accordion-header button {
    padding: 7px 5px;
}

.accordion-body a img {
    max-width: 80%;
    height: auto;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    transition: transform 0.3s ease;
}

.accordion-body a img:hover {
    transform: scale(1.04);
}

.accordion-button {
    box-shadow: none;
    background-color: transparent;
}

.accordion-body {
    padding: 0;    
}

#img-yellow {
    filter: hue-rotate(655deg);
}

#img-orange {
    filter: hue-rotate(635deg);
}

#img-red {
    filter: hue-rotate(240deg);
}

/*Abril*/

body[data-page="april"] > header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 5px;
    background-color: var(--green);
    border-radius: 0 0 0 6px;
    transition: background-color 0.5s ease;
}

body[data-page="april"] > header::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%; 
    width: 50%;
    height: 5px;
    background-color: var(--blue);
    border-radius: 0 0 6px 0;
    transition: background-color 0.5s ease;
}

body[data-page="april"] > header:hover::after {
    background-color: var(--blue);
}
body[data-page="april"] > header:hover::before {
    background-color: var(--green);
}

/* Page Blue */

body[data-page="azul"] > header::after {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0%; 
    width: 100%;
    height: 5px;
    background-color: var(--blue);
    border-radius: 0 0 6px 6px;
    
}

/* Page Green */

body[data-page="gren"] > header::after {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0%; 
    width: 100%;
    height: 5px;
    background-color: var(--green);
    border-radius: 0 0 6px 6px;
}

/* Maio/Yellow */

body[data-page="may"] > header::after {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0%; 
    width: 100%;
    height: 5px;
    background-color: var(--yellow);
    border-radius: 0 0 6px 6px;
}

body[data-page="yellow"] > header::after {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0%; 
    width: 100%;
    height: 5px;
    background-color: var(--yellow);
    border-radius: 0 0 6px 6px;
}

/* June */

body[data-page="june"] > header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 5px;
    background-color: var(--red);
    border-radius: 0 0 0 6px;
    transition: background-color 0.5s ease;
}

body[data-page="june"] > header::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%; 
    width: 50%;
    height: 5px;
    background-color: var(--orange);
    border-radius: 0 0 6px 0;
    transition: background-color 0.5s ease;
}

body[data-page="june"] > header:hover::after {
    background-color: var(--orange);
}
body[data-page="june"] > header:hover::before {
    background-color: var(--red);
}

/* Red */

body[data-page="red"] > header::after {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0%; 
    width: 100%;
    height: 5px;
    background-color: var(--red);
    border-radius: 0 0 6px 6px;
}

/* Orange */

body[data-page="orange"] > header::after {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0%; 
    width: 100%;
    height: 5px;
    background-color: var(--orange);
    border-radius: 0 0 6px 6px;
}

@media (max-width: 768px) {
    .main-content {
        max-width: 95%;
        margin-top: 10px;
        
    }

    .main-aside {
        margin-top: 20px;
    }

    .as-cont {
        flex-direction: column;
    }

    .as-cont .aside-cont {
        position: static;
        width: 100%;
        height: auto;
    }

    .aside-cont img {
        height: auto;
        width: 100%;
    }
}

/* Destaques no "Introduction": */

#blue {
    color: var(--blue);
    font-weight: bold;
}

#green {
    color: var(--green);
    font-weight: bold;
}

#yellow {
    color: var(--yellow);
    font-weight: bold;
}

#orange {
    color: var(--orange);
    font-weight: bold;
}

#red {
    color: var(--red);
    font-weight: bold;
}

/* Abril: */

#texto-abril-5 {
    text-align: center;
    border-top: 2px solid var(--head-bg);
    padding-top: 15px;
}

/* Abril/Azul: */

#texto-autismo-8 {
    text-align: center;
    border-top: 2px solid var(--head-bg);
    padding-top: 15px;
}

#texto-autismo-8 a {
    color: var(--blue);
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

#texto-autismo-8 a:hover{
    color: #78cbf4;
}

/* Abril/Verde: */

#texto-trabalho-6 {
    text-align: center;
    border-top: 2px solid var(--head-bg);
    padding-top: 15px;
}

#texto-trabalho-6 a {
    color: var(--green);
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

#texto-trabalho-6 a:hover {
    color: #71d67f;
}

/* Maio: */

#texto-maio-6 {
    text-align: center;
    border-top: 2px solid var(--head-bg);
    padding-top: 15px;
}

/* Maio/Amarelo: */
#texto-transito-7{
     text-align: center;
    border-top: 2px solid var(--head-bg);
    padding-top: 15px;
}

#texto-transito-7 a{
    color: var(--firefly);
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

#texto-transito-7 a:hover{
    color: var(--yellow);
}



/* Junho: */

#texto-junho-5 {
    text-align: center;
    border-top: 2px solid var(--head-bg);
    padding-top: 15px;
}

/* Junho/Vermelho: */

#p-footer-vermelho {
    text-align: center;
    border-top: 2px solid var(--head-bg);
    padding-top: 15px;
}

#p-footer-vermelho a {
    color: var(--red);
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

#p-footer-vermelho a:hover {
    color: #ff9595;
}

/* Junho/Laranja: */

#texto-vermelho-laranja-2 {
    text-align: center;
    border-top: 2px solid var(--head-bg);
    padding-top: 15px;
}

#texto-vermelho-laranja-2 a {
    color: var(--orange);
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

#texto-vermelho-laranja-2 a:hover {
    color: #fea666;
}

/* Sobre: */

#titulo-projetistas {
    border-bottom: 2px solid var(--head-bg);
    padding-bottom: 15px;
    width: 50%;
    margin: 0 auto 25px auto;
}

.desenvolvedores {
    display: flex;
    flex-direction: column;
}

.dev {
    border-radius: 8px;
    box-shadow: var(--shadow);
    background-color: var(--main-bg);
    padding: 15px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.dev:hover {
    transform: scale(1.01);
}

.sobre-soc {
    display: flex;
    flex-direction: row;
}

.sobre h3 {
    text-align: center;
    margin-bottom: 15px;
}

.sobre .imgPerfil {
    width: 150px;
    height: 100%;
    border-radius: 8px;
    box-shadow: var(--shadow);
}

.sobre-col {
    flex-direction: column;
}

.social {
    flex-direction: row;
    display: flex;
}

.social img {
    width: 25px;
    height: auto;
    margin: 5px 2px;
}

.social, .sobre-col {
    margin: 0 40%;
}

.sobre-soc {
    gap: 20px;
}

@media (min-width: 1351px) and (max-width: 1599px) {
    .social, .sobre-col {
        margin: 0 41.5%;
    }
}

@media (min-width: 1600px) {
    .social, .sobre-col {
        margin: 0 45%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .social, .sobre-col {
        margin: 0 30%;
    }
}

@media (max-width: 768px) {
    .social, .sobre-col {
        margin: 0 20%;
    }

    .sobre-soc {
        flex-direction: column;
        align-items: center;
    }
}