/* Cores: */

:root {
    --blue: #31A0D9;
    --green: #479F52;
    --yellow: #e1cc2d;
    --orange: #F47B26;
    --red: #FB2828;
}

/* Index: */

.main-content {
    max-width: 80%;
    margin: 0 auto;
}

.main-content h2 {
    font-size: 22px;
    margin-bottom: 15px;
    text-align: center;
}

.introduction {
    background-color: var(--main-bg);
    border-radius: 8px;
    padding: 15px;
    box-shadow: var(--shadow);
}

/* Páginas com Aside: */

.as-cont {
    display: flex;
    flex-direction: row;
}

.as-cont .aside-cont {
    width: auto;
    height: 100%;
    margin-right: 15px;
    background-color: var(--main-bg);
    border-radius: 8px;
    box-shadow: var(--shadow);
    padding: 10px;
    flex-direction: column;
    position: sticky;
    top: 90px;
    align-self: flex-start;
}

.aside-cont h2 {
    padding: 10px 0;
    border-bottom: 2px solid var(--head-bg);
    width: 50%;
    margin: 0 auto 15px auto;
}

.aside-cont img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: var(--shadow);
}

.main-aside {
    background-color: var(--main-bg);
    border-radius: 8px;
    box-shadow: var(--shadow);
    padding: 15px;
}

@media (max-width: 768px) {
    .main-content {
        max-width: 80%;
        
    }

    .main-aside {
        margin-top: 20px;
    }

    .as-cont {
        flex-direction: column;
    }

    .as-cont .aside-cont {
        position: static;
        width: 100%;
        height: auto;
    }

    .aside-cont img {
        height: auto;
        width: 100%;
    }
}

/* Aside Menu/Botões: */

.aside-cont .btn-group {
    width: 100%;
    box-shadow: var(--shadow);
}

#language-buttons-header {
    text-align: center;
    margin-top: 10px;
}

#btn-portugues-header, #btn-ingles-header {
    background-color: var(--head-bg);
    border: none;
    padding: 2.5px 23.5px;
    border-radius:5px;
    color: white;
    box-shadow: var(--shadow);
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#btn-portugues-header:hover, #btn-ingles-header:hover {
    background-color: #212121;
}

.btn-secondary {
    background-color: var(--head-bg);
    border: none;
}

.btn-secondary:hover{
    background-color: #212121;
}

.dropdown-menu {
    box-shadow: var(--shadow);
}

.dropdown-item, .dropdown-divider {
    margin: 5px 7px;
}

#btn-blue {
    transition: color, background-color 0.3s ease;
    border-radius: 8px;
    text-align: center;
}

#btn-blue:hover {
    background-color: var(--blue);
    color: white;
}

#btn-green {
    transition: color, background-color 0.3s ease;
    border-radius: 8px;
    text-align: center;
}

#btn-green:hover {
    background-color: var(--green);
    color: white;
}

#btn-yellow {
    transition: color, background-color 0.3s ease;
    border-radius: 8px;
    text-align: center;
}

#btn-yellow:hover {
    background-color: var(--yellow);
    color: white;
}

#btn-other {
    transition: color, background-color 0.3s ease;
    border-radius: 8px;
    text-align: center;
}

#btn-other:hover {
    background-color: #060606;
    color: white;
}

#btn-red {
    transition: color, background-color 0.3s ease;
    border-radius: 8px;
    text-align: center;
}

#btn-red:hover {
    background-color: var(--red);
    color: white;
}

#btn-orange {
    transition: color, background-color 0.3s ease;
    border-radius: 8px;
    text-align: center;
}

#btn-orange:hover {
    background-color: var(--orange);
    color: white;
}

/* Destaques no "Introduction": */

#blue {
    color: var(--blue);
    font-weight: bold;
}

#green {
    color: var(--green);
    font-weight: bold;
}

#yellow {
    color: var(--yellow);
    font-weight: bold;
}

#orange {
    color: var(--orange);
    font-weight: bold;
}

#red {
    color: var(--red);
    font-weight: bold;
}

#carouselExampleIndicators {
    margin: 15px auto;
    box-shadow: var(--shadow);
    width: 100%;
    height: auto;
}

.carousel-item img {
    border-radius: 8px;
}

/* Abril: */

#texto-abril-5 {
    text-align: center;
    border-top: 2px solid var(--head-bg);
    padding-top: 15px;
}

/* Abril/Azul: */

#texto-autismo-8 {
    text-align: center;
    border-top: 2px solid var(--head-bg);
    padding-top: 15px;
}

#texto-autismo-8 a {
    color: var(--blue);
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

#texto-autismo-8 a:hover{
    color: #78cbf4;
}

/* Abril/Verde: */

#texto-trabalho-6 {
    text-align: center;
    border-top: 2px solid var(--head-bg);
    padding-top: 15px;
}

#texto-trabalho-6 a {
    color: var(--green);
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

#texto-trabalho-6 a:hover {
    color: #71d67f;
}

/* Maio: */

#texto-maio-6 {
    text-align: center;
    border-top: 2px solid var(--head-bg);
    padding-top: 15px;
}

/* Maio/Amarelo: */



/* Junho: */

#texto-junho-5 {
    text-align: center;
    border-top: 2px solid var(--head-bg);
    padding-top: 15px;
}

/* Junho/Vermelho: */

#p-footer-vermelho {
    text-align: center;
    border-top: 2px solid var(--head-bg);
    padding-top: 15px;
}

#p-footer-vermelho a {
    color: var(--red);
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

#p-footer-vermelho a:hover {
    color: #ff9595;
}

/* Junho/Laranja: */

#texto-vermelho-laranja-2 {
    text-align: center;
    border-top: 2px solid var(--head-bg);
    padding-top: 15px;
}

#texto-vermelho-laranja-2 a {
    color: var(--orange);
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

#texto-vermelho-laranja-2 a:hover {
    color: #fea666;
}

/* Sobre: */

#titulo-projetistas {
    border-bottom: 2px solid var(--head-bg);
    padding-bottom: 15px;
    width: 50%;
    margin: 0 auto 25px auto;
}

.desenvolvedores {
    display: flex;
    flex-direction: column;
}

.dev {
    border-radius: 8px;
    box-shadow: var(--shadow);
    background-color: var(--main-bg);
    padding: 15px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.dev:hover {
    transform: scale(1.01);
}

.sobre-soc {
    display: flex;
    flex-direction: row;
}

.sobre h3 {
    text-align: center;
    margin-bottom: 15px;
}

.sobre .imgPerfil {
    width: 150px;
    height: 100%;
    border-radius: 8px;
    box-shadow: var(--shadow);
}

.sobre-col {
    flex-direction: column;
}

.social {
    flex-direction: row;
    display: flex;
}

.social img {
    width: 25px;
    height: auto;
    margin: 5px 2px;
}

.social, .sobre-col {
    margin: 0 40%;
}

.sobre-soc {
    gap: 20px;
}

@media (max-width: 768px) {
    .social, .sobre-col {
        margin: 0 20%;
    }

    .sobre-soc {
        flex-direction: column;
        align-items: center;
    }
}